@font-face {
  font-family: "SF Mono";
  src: url("./src/assets/fonts/sf-mono/SFMonoRegular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "SF Mono";
  src: url("./src/assets/fonts/sf-mono/SFMonoBold.woff");
  font-weight: 700;
}

$dark_navy: #020c1b;
$navy: #0a192f;
$light_navy: #112240;
$lighter_navy: #233554;
$navy_shadow: rgba(2, 12, 27, 0.7);
$dark_slate: #495670;
$slate: #8892b0;
$light_slate: #a8b2d1;
$lighter_slate: #ccd6f6;
$white: #e6f1ff;
$primary: #64ffda;
$primary_tint: rgba(100, 255, 218, 0.1);
$pink: #f57dff;
$blue: #57cbff;
$font_sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
  system-ui, sans-serif;
$font_mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
$fz_xxs: 12px;
$fz_xs: 13px;
$fz_sm: 14px;
$fz_md: 16px;
$fz_lg: 18px;
$fz_xl: 20px;
$fz_xxl: 22px;
$fz_heading: 32px;
$border_radius: 4px;
$border_radius_lg: 10px;
$border_radius_xl: 16px;
$nav_height: 80px;
$nav_scroll_height: 70px;
$tab_height: 42px;
$tab_width: 120px;
$easing: cubic-bezier(0.645, 0.045, 0.355, 1);
$transition: all 0.25scubic-bezier(0.645, 0.045, 0.355, 1);
$hamburger_width: 30px;
$ham_before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
$ham_before_active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
$ham_after: bottom 0.1s ease-in 0.25s,
  transform 0.22scubic-bezier(0.55, 0.055, 0.675, 0.19);
$ham_after_active: bottom 0.1s ease-out,
  transform 0.22scubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
$outline: 1px solid $primary;
