@use './src/variables/mixin.scss' as mixin;

.experience{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    min-height: calc(100vh - mixin.$nav_height);   
    padding-top: 3rem;
}

.layout{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

@media screen and (max-width: 768px) {
    .layout{
        grid-template-columns: 1fr;
    }
}