@use "./src/variables/mixin.scss";

.project_item_wrapper{
  margin-block: 3rem;
  padding: 1rem;
  background-color: mixin.$light_navy;
  border-radius: mixin.$border_radius_lg;
  border: 2px solid mixin.$dark_slate;

  transition: all .5s ease;

}

.project_item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;

  .left {
    width: 200px;
    margin-inline: 1rem;
    aspect-ratio: 4/3;
    background: mixin.$primary;
    overflow: hidden;
    border-radius: mixin.$border_radius_lg;


    img {
        width: 100%;
        mix-blend-mode: multiply;
        filter: grayscale(100%);   
        transform: translateY(0%);
        transition: transform 1s ease;
        &:hover {
            mix-blend-mode: normal;
            filter: grayscale(0) brightness(85%);
            animation: slide 15s ease forwards;
        }
    } 

  }

  .right{
    flex: 1;
  }


  @keyframes slide {
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(-100%);
    }
  }


}


.img_box {
  overflow: hidden;
  height: 100%;
  position: relative;
  box-shadow: 0 10px 30px -15px mixin.$navy_shadow;
  border-radius: mixin.$border_radius_lg;

  img {
    width: 100%;
  }
  
  .thanks{
    position: absolute;
    font-size: 10rem;
    background-color: #233554;
    width: 100%;
    height: 100%;
    place-content: center;
    display: none;
  }

  &:hover{
    .thanks{
      display: grid;
    }
  }
}


