@use './src/variables/mixin.scss' as mixin;

.work_item{
    ul{
        list-style: none;
        padding-top: 1rem;
        li {
            position: relative;
            margin-bottom: 10px;
            padding-left: 30px;
            font-size: mixin.$fz_sm;
            line-height: 1.7;
            &::before {
              content: "▹";
              position: absolute;
              left: 0px;
              font-size: mixin.$fz_md;
              color: mixin.$green;
              line-height: 12px;
            }
          }
    }
}
